.containerQrCodeDashboard {
    padding-top: 2rem;
    display: flex;
    gap: 7.5rem;
    flex-direction: row;
    justify-content: space-between;
}

.leftPartContainer {
    width: 411px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.rightPartContainer {
    flex: 1;
    display: flex;

}
